<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    {{> admin-header}}
    <br><br>
    {{> admin-sidebar}}
    <div class="page-wrapper">
        {{> a-editprofile}}
    </div>
    {{> admin-footer}}
</div>
{{> admin-jquery}}