<form class="login-form spad">
        <section>
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card card-registration my-4">
                    <div class="row g-0">
                      <div class="col-xl-6 d-none d-xl-block">
                        <img src="/public/users/img/signin.jpg"
                          alt="Sample photo" class="img-fluid"
                          style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                      </div>
                      <div class="col-xl-6">
                        <div class="card-body p-md-5 text-black">
                          <h3 class="mb-5 text-uppercase">Sign in</h3>
                          <div class="form-outline mb-4">
                              <label class="form-label" for="email">Email</label>
                              <input type="text" id="email" class="form-control form-control-lg" />
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="text" id="password" class="form-control form-control-lg" />
                          </div>
                                                    
                          <div class="row">
                            <div class="col-md-8 mb-6">
                              <div class="form-outline">
                                <label class="form-label" for="sign-in-link">Not a member ?<a href="">Create an account</a></label>
                              </div>
                            </div>
                            <div class="col-md-4 mb-4">
                              <div class="form-outline">
                                <button type="submit" class="site-btn ">Log in</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>