<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb bg-white">
    <br><br>
    <div class="row">
        <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12">
                {{#if error}}
                    <div class="text-danger error">
                        {{error}}
                    </div>
                {{/if}}
                <h4 class="page-title">ADD IMAGE</h4>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 align-content-end">
                <button class="cancel-btn site-btn"><a href="/admin/service-list" class="link-btn">Back</a></button>
        </div>
        <br>
        <br>
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
{{!--  --}}
<!-- This script got from frontendfreecode.com -->
<div class="container container-fluid">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card rounded-0 border-0 shadow">
                <div class="card-body p-5">

                    {{!-- <form method="post">
                        <div class="form-outline mb-4">
                        <label class="form-label" for="textAreaExample">Image link</label>
                        <input class="form-control" id="imageLink" name="imageLink"></input>
                        
                        </div>
                    </form> --}}
                    
                    <!--  Bootstrap table-->
                    <div class="table-responsive">
                        <form method="post">
                        <section>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Image link</th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr>
                        
                                        <td><input class="row-data form-control rounded-0" type="text" id="imageLink" name="imageLink" placeholder="image link"></td>
                                        <td><button type="submit" class="btn site-btn rounded-0" ><i class="fa fa-plus"></i></button></td>
                                    </tr>
                                </thead>
                                
                            </table>
                        </section>
                            
                        </form>
                    </div>

                    <!-- Add rows button-->
                    <a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="#">Add new row</a>
                </div>
            </div>
        </div>
    </div>
                                                                            